services: mongodb
language: node_js
node_js:
- '8'
install:
- npm install
script:
- npm build:x86
notifications:
  slack:
    secure: BB/MHFg+gUSzOTsgYpy4NzmEh1pNrDHI6s2RJdAqZWESCVPb4UDRggVE3lx6NZMRT8CBnur38v4ERNQwybIrNKB8gwilJ9UAnd112hlrck2CiMiFn/DL5mCsY2IKKkaJ83lpBjkmXTC4CGbuK1vSOhWa74W4hhpTt83z6tMqusUOBkMIDOltbn2e0YgdvgbNtjRO8nxvdThe9pWg3kYBY4vbrC1C5kt5CgmApgdNl7gIOHq3lymOd2XZTEit34b3IBiAIYxnEwyEcSZbnv3eB4Y7yd6D7BeWkxj8VFSAiQIPWiYddLM2+1kFpb7XqREbpzk93SevtSGJP8wSPpgUCTQWMWbMcXYhzhb2XxSukegxPd4V3kFoEUK18Zajo24IqaPfOHK6eMZFTtpJBEx0npMvr4Jz3hVao3SjIdNmVB8a/od5ZJHcUs1dj4RmDw/rcZwTucMbKtKr/z//38GRffHW1b8+u1s+PDkfPIvbZa5NWEA2EgPVI1ETZ7XebkFXWIwN7WO0KCr9wbHvqnbch1zhOe46976Br3GeNtwTQ73ImnMXmfzIYNhSj7p1UnDtNpC3p0RkKJj1BCsxbgTtBUWUrF2HJZRQeWYfWVeu5Nked3GElarMlxC7FxI3P0tzjbO0qoVzbtzZEM8bxhoTHNe7DsNYVcHgrGeR//ZzWeI=
