[Unit]
Description=polyglot-v2
After=network-online.target mongodb.service

[Service]
Type=simple
WorkingDirectory=<PWD>
ExecStart=<FILE>
Restart=always
User=<USER>

[Install]
WantedBy=multi-user.target
